HTTP_SERVER = False

API_ID = 100
API_HASH = abc100
BOT_TOKEN = 100:abc
BOT_WORKER = 8
BOT_SESSION = "Zaws-File-Share"
BOT_MAX_MESSAGE_CACHE_SIZE = 100

MONGO_DB_URL = mongodb+srv
MONGO_DB_NAME = "Zaws-File-Share"

BACKUP_CHANNEL = -1002079159862
ROOT_ADMINS_ID = [891528999, 6204450961]
FORCE_SUB_CHANNELS = [-1002076268738, -1002207775360]
PRIVATE_REQUEST = False
PROTECT_CONTENT = True
AUTO_GENERATE_LINK = False
